@charset "UTF-8";
body {
  background-color: #bcd079;
}
 
#wrap {
  width: 960px;
  margin: auto;
  background-color: white;
  border: 8px dotted Orange;
  padding: 20px;
}
 
header {
  padding: 40px;
  height: 80px;
}
 
nav {
  padding: 8px 40px;
  background-color: #fcc800;
  color: #ffffff;
  border-radius: 10px;
}
 
main {
  padding: 40px;
  height : 400px;
}
 
footer {
  padding: 40px;
  height: 40px;
  background-color : #fcc800;
  color: white;
}

.circle img {
  border-radius: 50%;
  width: 300px;
}